
.card2
{
  padding-left: 50px;
  padding-top: 50px;
  color: #e2e7e5;
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  text-decoration: none;
} 

.hover-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


